/*=================================================================
  颜色
  =================================================================*/
$border-color : #e6ebed;
$white : #fff;
$primary : #25A589;
$success : #3DBD37;
$gray : #7F8593;
$error : #ea5361;
$color-gradient : linear-gradient(to right, #5ac66a 0%, #3caa7d 80%, #3AA27F 100%); // 渐变
$color-gradient-hover : linear-gradient(to right, #5ac66a 0%, #3caa7d 80%, #3AA27F 100%); // 渐变
$color-gradient : linear-gradient(to right, #5ac66a 0%, #3caa7d 80%, #3AA27F 100%); // 渐变
// $page-bg-color : #F0F2F5;
$page-bg-color : #f9f9f9;


/*=================================================================
  动画
  =================================================================*/
$transition-time : 0.28s; // 动画时间

/*=================================================================
  侧边栏导航
  =================================================================*/
$side-bar-background-color: #304156;
$side-bar-background-color-active: #2F404F;

/*=================================================================
  页面布局相关
  =================================================================*/

$header-height : 48px; // 顶部header的高度
$side-bar-width : 68px; // 侧边栏

$header-both-sides-padding : 24px; //页面边缘与内容间的padding
$content-both-sides-padding : 32px; //页面边缘与内容间的padding

// 页尾背景色
$footer-background-color : #858585;

// 首页 前三大模块中 hover 背景色
$home-li-hover-background-color:#3a9d80;
